<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.forme.myweb.mapper.MemberMapper">

    <insert id="insertMember">
        insert into member(mid,name) values (#{mid},#{name})
    </insert>

</mapper>
